# Dependencias
node_modules
.pnpm-store

# Archivos de desarrollo
.git
.gitignore
.env.local
.env.*.local
*.log
README.md
LICENSE

# Build y cache
.next/cache
out
dist
build
*.tsbuildinfo

# Editor y sistema
.vscode
.DS_Store